In [64]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1150,tt0304711,35000000,11560806,The Order,Heath Ledger|Shannyn Sossamon|Benno FÃ¼rmann|M...,Brian Helgeland,Every soul has its price.,"For centuries, a secret Order of priests has e...",102,Drama|Fantasy|Horror|Mystery|Romance,Twentieth Century Fox Film Corporation|N1 Euro...,9/5/2003,4.8,2003
1159,tt0263757,20000000,37095657,Uptown Girls,Brittany Murphy|Dakota Fanning|Marley Shelton|...,Boaz Yakin,They're about to teach each other how to act t...,"Molly Gunn, the freewheeling daughter of a dec...",92,Comedy,GreeneStreet Films|Metro-Goldwyn-Mayer (MGM),8/15/2003,6.2,2003
1031,tt1486192,26000000,29657751,The Raven,John Cusack|Luke Evans|Alice Eve|Brendan Glees...,James McTeigue,The only one who can stop a serial killer is t...,A fictionalized account of the last days of Ed...,111,Thriller,Relativity Media,3/9/2012,6.0,2012
1076,tt1433822,17000000,9627492,The Apparition,Ashley Greene|Sebastian Stan|Tom Felton|Julian...,Todd Lincoln,Once You Believe You Die,Plagued by frightening occurrences in their ho...,82,Horror|Thriller,StudioCanal|Dark Castle Entertainment|Warner B...,8/23/2012,4.4,2012
664,tt0369436,80000000,163733697,Four Christmases,Reese Witherspoon|Vince Vaughn|Robert Duvall|M...,Seth Gordon,"His father, her mother, his mother and her fat...",Brad and Kate have made something of an art fo...,88,Comedy|Romance|Drama,New Line Cinema|Spyglass Entertainment|Type A ...,11/26/2008,5.3,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [73]:
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'  # +
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [74]:
answers['2'] = 'Gods and General'  # +

In [8]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [75]:
answers['3'] = 'Winnie the Pooh'  # +

In [11]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [76]:
answers['4'] = 110  # +

In [12]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [77]:
answers['5'] = 107  # +

In [14]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [78]:
# Предобработка
data["profit"] = data["revenue"] - data["budget"]

In [79]:
answers['6'] = 'Avatar'  # +

In [17]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [80]:
answers['7'] = 'The Lone Ranger'  # +

In [19]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [81]:
answers['8'] = 1478  # +

In [21]:
data[data.revenue > data.budget].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [82]:
answers['9'] = 'The Dark Knight'  # +

In [23]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [83]:
answers['10'] = 'The Lone Ranger'  # +

In [24]:
data_2012_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data_2012_14[data_2012_14.profit == data_2012_14.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [84]:
answers['11'] = 'Drama'  # +

In [25]:
genre_data = data['genres'].str.split('|').explode().value_counts()
genre_data.head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [85]:
answers['12'] = 'Drama'  # +

In [26]:
profit_genre = data[data.revenue > data.budget]
profit_genre['genres'].str.split('|').explode().value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [86]:
answers['13'] = 'Peter Jackson'  # +

In [31]:
data.director = data.director.apply(lambda x: x.split(", "))
data = data.explode('director')
display(data.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [87]:
answers['14'] = 'Robert Rodriguez'  # +

In [33]:
action = data[data.genres.str.contains('Action')].copy()
action.director = action.director.str.split('|')
action.explode('director')
pivot = action.explode('director').pivot_table(
    values=['genres'], index=['director'],
    aggfunc='count', margins=False, fill_value=0)
pivot.sort_values('genres', ascending=False).head(1)

                  genres
director
Robert Rodriguez       9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [88]:
answers['15'] = 'Chris Hemsworth'  # +

In [36]:
data_2012 = data[data.release_year == 2012]
data_2012.cast = data_2012.cast.apply(lambda x: x.split(", "))
data_2012 = data_2012.explode('cast')
data_2012.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1)

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [89]:
answers['16'] = 'Matt Damon'  # +

In [38]:
big_budget = data[data.budget > data.budget.mean()]
big_budget['cast'].str.split('|').explode().value_counts().head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [90]:
answers['17'] = 'Action'  # +

In [40]:
nicolas = data[data.cast.str.contains('Nicolas Cage', na=False)]
nicolas['genres'].str.split('|').explode().value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [91]:
answers['18'] = 'K-19: The Widowmaker'  # +

In [42]:
paramount = data[data.production_companies.str.contains("Paramount Pictures",
                                                        na=False)]
paramount[paramount.profit == paramount.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [92]:
answers['19'] = 2015  # +

In [44]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25512215663
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [93]:
answers['20'] = 2014  # +

In [46]:
data[data.production_companies.str.contains(
    "Warner Bros", na=False)].groupby(
        ['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [94]:
answers['21'] = 'Сентябрь'  # +

In [48]:
data['release_date'] = pd.to_datetime(data.release_date, format='%m/%d/%Y')
data['release_month'] = pd.DatetimeIndex(data['release_date']).month
data['release_month'].value_counts().head(1)

9    228
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [95]:
answers['22'] = 450  # +

In [50]:
data['release_date'] = pd.to_datetime(data.release_date, format='%m/%d/%Y')
data['release_month'] = pd.DatetimeIndex(data['release_date']).month
data[(data.release_month == 6) | (data.release_month == 7) |
        (data.release_month == 8)].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [96]:
answers['23'] = 'Peter Jackson'  # +

In [52]:
data['release_date'] = pd.to_datetime(data.release_date, format='%m/%d/%Y')
data['release_month'] = pd.DatetimeIndex(data['release_date']).month
winter = data[(data.release_month == 12) | (data.release_month == 1) |
              (data.release_month == 2)]
winter['director'].str.split('|').explode().value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [97]:
answers['24'] = 'Four By Two Productions'  # +

In [54]:
data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
simb = pd.Series(dtype='float64', index=companies)
for comp in companies:
    simb[comp] = data['title_length'][data['production_companies'].map(
        lambda x: True if comp in x else False)].mean()
simb.sort_values(ascending=False).head(1)

Four By Two Productions    83.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [98]:
answers['25'] = 'Midnight Picture Show'  # +

In [56]:
def count_words(string):
    count = 1
    for i in string:
        if i == " ":
            count += 1
    return count
data['description_words'] = data['overview'].apply(count_words)
companies = data['production_companies'].str.split('|').explode().unique()
mean_v = pd.Series(dtype='float64', index=companies)
for comp in companies:
    mean_v[comp] = data['description_words'][data['production_companies'].map(
        lambda x: True if comp in x else False)].mean()
mean_v.sort_values(ascending=False).head(1)

Midnight Picture Show    175.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [99]:
answers['26'] = 'The Dark Knight'  # +

In [60]:
limit = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= limit].sort_values(
    by='vote_average', ascending=False)['original_title'].head(1)

599    The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [100]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'  # +

In [70]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].str.split('|')
actor_pairs = []
for i in range(0, len(data)):
    for item in combinations(data['cast'][i], 2):
        actor_pairs.append(item)
Counter(actor_pairs).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [101]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and General',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '11': 'Drama',
 '10': 'The Lone Ranger',
 '12': 'Drama',
 '9': 'The Dark Knight',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '26': 'The Dark Knight',
 '25': 'Midnight Picture Show',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [102]:
# и убедиться что ни чего не пропустил)
len(answers)

27